html, body, main, h1, p, section, div, article, ul, li, a {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  background: transparent;
  box-sizing: content-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background: #fff;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

section {
  padding: 50px 0;
  border-bottom: 2px solid black;
}

section:last-child {
  border-bottom: none;
}

div.container {
  width: 900px;
  margin: 0 auto;
}

/*HEADER*/
header {
  height: auto;
  display: block;
  background: black;
  width: 100%;
}

ul.header {
  color: white;
  padding: 20px;
}

ul.header > li {
  float: left;
  margin: 10px 0 0 20px;;
}

/* ABOUT ME STYLE */

img#portrait {
  border: 2px solid grey;
  border-radius: 50%;
  width: 300px;
  float: left;
}

h1.title {
  font-weight: bold;
  font-size: 64px;
  float:left;
  padding: 30px 0;
  margin: 20%;
  line-height: 120%;
}

span.highlighted-text {
  background: green;
  color: white;
}

p#bio {
  margin-top: 50px;
  font-size: 24px;
}

/* PROJECTS STYLING */

section.projects {
  background: #90CDD4;
}

h1.projects {
  font-weight: bold;
  font-size: 36px;
  text-decoration: underline;
}

article.project {
  margin: 10px 0;
  border: 5px solid grey;
  padding: 20px;
}

div.image {
  width: 196px;
  height: 196px;
  position: relative;
  border: 2px solid black;
  float: left;
}

div.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  text-align: center;
}

div.overlay > a {
  font-size: 24px;
  color: white;
  text-decoration: underline;
}

div.image:hover div.overlay {
  display: block;
  opacity: 1;
}

p.project-info {
  margin-left: 20px;
  width: 600px;
  float: left;
  font-size: 24px;
}

article.project:nth-of-type(even) div.image {
  float:right
}

/* SKILLS STYLINGS*/

h1.skills {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

li.skill {
  display: block;
  float: left;
  font-size: 93px;
  margin: 0 20px 0 30px;
}

/* CONTACT STYLING */

section.contact {
  background: black;
  color: white;
}

ul.contact {

}

ul.contact > li {
  float: left;
  margin-left: 20px;
}
